.movies__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

    .MuiPagination-ul {
        li{

            button{
                color: #fff;

            }
        }
    }
}