$color-dark: #0B0B0F;
$color-white: #FEFEFE;
$color-gray: #C4C4C4;
$color-accent: #96E532;


.movie-details {

    &__inner {
        padding: 70px 0 120px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    &__img {
        width: 300px;
        height: 450px;
        border-radius: 10px;
    }

    .details-content {
        max-width: 630px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        margin: 0 auto;
        position: relative;

        &__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            margin-bottom: 15px;
        }

        &__genres,
        &__runtime {
            color: $color-gray;
            margin-bottom: 15px;
        }

        &__text {
            margin: 15px 15px 30px;
        }
        .details-btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            &__trailer, 
            &__download {
                width: 250px;
                height: 50px;
                border-radius: 20px;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                color: $color-white;
                background-color: $color-accent;
                text-transform: uppercase;
                cursor: pointer;
                transition: filter .3s ease-in-out;
            }
            
            &__download{
                background-color: #C52626;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__trailer:hover, 
            &__download:hover{
                filter: brightness(.8);
            }
            &__trailer:active, 
            &__download:active{
                filter: brightness(1.2);
            }

        }

        .movie-rating{
            position: static;
            width: 90px;
            padding: 10px 20px;
            margin: 0 auto 15px;

            &__current{
                font-size: 18px;
            }
        }

    }
    
    .movie-trailer{
        position: fixed;
        top: 90px;
        width: 60%;
        max-height: 500px;
        border-radius: 10px;
        background-color: $color-dark;
        padding: 20px;
        box-shadow: 2px 4px 8px rgba($color-white, .4);

        &__inner{
            width: 100%;
            height: 100%;
            position: relative;
        }
        &__video{
            width: 95%;
            height: 100%;
            border-radius: 10px;
        }
        &__close-btn{
            position: absolute;
            background-color: transparent;
            color: $color-gray;
            top: -15px;
            right: -15px;
            z-index: 10;
            padding: 5px;
            border-radius: 50%;
            transition: color .3s ease-in-out;
            cursor: pointer;

            &:hover{
                color: rgba($color-gray, .7);
            }
            &:active{
                color: rgba($color-gray, 1.2);
            }
        }
    }
}


@media screen and (max-width: 860px) {
    .movie-details{
        &__inner{
            flex-direction: column;
            align-items: center;
        }
        &__img{
            margin-bottom: 20px;
        }
        .movie-trailer {
            width: 80%;
        }
    }
}

@media screen and (max-width: 650px) {
    .movie-details{
        .details-btn {
            flex-direction: column;
    
            &__trailer{
                margin-bottom: 30px;
            }
        }
        .movie-trailer {
            width: 90%;
        }
    }
}

@media screen and (max-width: 550px) {
    .movie-details{
        &__img{
            width: 250px;
            height: 375px;
        }
        .movie-trailer {
            width: 95%;
        }
    }
}