$color-dark: #0B0B0F;
$color-white: #FEFEFE;
$color-gray: #C4C4C4;
$color-accent: #96E532;


.movie-search {
    &__inner{
        padding: 70px 0 120px;
        text-align: center;
    }
    &__title{
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        margin-bottom: 50px;
    }
    .search-form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 50px;
        border-radius: 10px;
        background-color: $color-white;
        margin: 0 auto 70px;


        &__input{
            width: 100%;
            height: 50px;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 10px 0 0 10px;
        }

        &__btn{
            width: 15%;
            min-width: 80px;
            height: 50px;
            border-radius: 0 10px 10px 0;
            background-color: $color-accent;
            color: $color-white;
            transition: filter .3s ease-in-out;
            cursor: pointer;

            &:hover{
                filter: brightness(.8);
            }
            &:active{
                filter: brightness(1.2);
            }
        }
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
        place-items: center;
        
        
        .not-found{
            position: absolute;
        }
    }
}

@media screen and (max-width: 1100px) {
    .movie-search__list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .movie-search{

        .search-form {
            width: 80%;
        }
    }

}

@media screen and (max-width: 860px) {
    .movie-search__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .movie-search{

        .search-form {
            width: 100%;
        }
    }

}

@media screen and (max-width: 550px) {
    .movie-search__list{
        grid-template-columns: repeat(1, 1fr);
    }
}