$color-dark: #0B0B0F;
$color-white: #FEFEFE;
$color-gray: #C4C4C4;
$color-accent: #96E532;

.header{
    background-color: $color-dark;
    border-bottom: 1px solid $color-gray;
    
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
    }
    .css-16lloyr-MuiBottomNavigation-root{
        background-color: $color-dark;
        border-top: 1px solid $color-gray;

        button{
            color: $color-white;
        }

        .Mui-selected{
            color: $color-accent;
        }

    }
}
