@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');


$color-dark: #0B0B0F;
$color-white: #FEFEFE;
$color-gray: #C4C4C4;
$color-accent: #96E532;


html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: $color-dark;
  color: $color-white;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
